<packageSourceMapping>
  <clear />
  <packageSource key="nuget">
    <package pattern="Ardalis.GuardClauses" />
    <package pattern="AutoMapper" />
    <package pattern="AutoMapper.Extensions.Microsoft.DependencyInjection" />
    <package pattern="Azure.Core" />
    <package pattern="Azure.Extensions.AspNetCore.Configuration.Secrets" />
    <package pattern="Azure.Identity" />
    <package pattern="Azure.Security.KeyVault.Certificates" />
    <package pattern="Azure.Security.KeyVault.Secrets" />
    <package pattern="BarcodeLib" />
    <package pattern="Blazored.FluentValidation" />
    <package pattern="Blazored.LocalStorage" />
    <package pattern="BoDi" />
    <package pattern="Castle.Core" />
    <package pattern="coverlet.collector" />
    <package pattern="Cucumber.Messages" />
    <package pattern="DevExpress.Data" />
    <package pattern="DevExtreme.AspNet.Data" />
    <package pattern="DinkToPdf" />
    <package pattern="Duende.IdentityServer" />
    <package pattern="Duende.IdentityServer.AspNetIdentity" />
    <package pattern="Duende.IdentityServer.EntityFramework" />
    <package pattern="Duende.IdentityServer.EntityFramework.Storage" />
    <package pattern="Duende.IdentityServer.Storage" />
    <package pattern="EPPlus" />
    <package pattern="FluentAssertions" />
    <package pattern="FluentValidation" />
    <package pattern="FluentValidation.DependencyInjectionExtensions" />
    <package pattern="Fluxor" />
    <package pattern="Fluxor.Blazor.Web" />
    <package pattern="Fluxor.Blazor.Web.ReduxDevTools" />
    <package pattern="Gherkin" />
    <package pattern="Google.Protobuf" />
    <package pattern="GoogleGson" />
    <package pattern="Humanizer" />
    <package pattern="Humanizer.Core" />
    <package pattern="Humanizer.Core.af" />
    <package pattern="Humanizer.Core.ar" />
    <package pattern="Humanizer.Core.az" />
    <package pattern="Humanizer.Core.bg" />
    <package pattern="Humanizer.Core.bn-BD" />
    <package pattern="Humanizer.Core.cs" />
    <package pattern="Humanizer.Core.da" />
    <package pattern="Humanizer.Core.de" />
    <package pattern="Humanizer.Core.el" />
    <package pattern="Humanizer.Core.es" />
    <package pattern="Humanizer.Core.fa" />
    <package pattern="Humanizer.Core.fi-FI" />
    <package pattern="Humanizer.Core.fr" />
    <package pattern="Humanizer.Core.fr-BE" />
    <package pattern="Humanizer.Core.he" />
    <package pattern="Humanizer.Core.hr" />
    <package pattern="Humanizer.Core.hu" />
    <package pattern="Humanizer.Core.hy" />
    <package pattern="Humanizer.Core.id" />
    <package pattern="Humanizer.Core.is" />
    <package pattern="Humanizer.Core.it" />
    <package pattern="Humanizer.Core.ja" />
    <package pattern="Humanizer.Core.ko-KR" />
    <package pattern="Humanizer.Core.ku" />
    <package pattern="Humanizer.Core.lv" />
    <package pattern="Humanizer.Core.ms-MY" />
    <package pattern="Humanizer.Core.mt" />
    <package pattern="Humanizer.Core.nb" />
    <package pattern="Humanizer.Core.nb-NO" />
    <package pattern="Humanizer.Core.nl" />
    <package pattern="Humanizer.Core.pl" />
    <package pattern="Humanizer.Core.pt" />
    <package pattern="Humanizer.Core.ro" />
    <package pattern="Humanizer.Core.ru" />
    <package pattern="Humanizer.Core.sk" />
    <package pattern="Humanizer.Core.sl" />
    <package pattern="Humanizer.Core.sr" />
    <package pattern="Humanizer.Core.sr-Latn" />
    <package pattern="Humanizer.Core.sv" />
    <package pattern="Humanizer.Core.th-TH" />
    <package pattern="Humanizer.Core.tr" />
    <package pattern="Humanizer.Core.uk" />
    <package pattern="Humanizer.Core.uz-Cyrl-UZ" />
    <package pattern="Humanizer.Core.uz-Latn-UZ" />
    <package pattern="Humanizer.Core.vi" />
    <package pattern="Humanizer.Core.zh-CN" />
    <package pattern="Humanizer.Core.zh-Hans" />
    <package pattern="Humanizer.Core.zh-Hant" />
    <package pattern="IdentityModel" />
    <package pattern="JetBrains.Annotations" />
    <package pattern="MailKit" />
    <package pattern="MediatR" />
    <package pattern="MediatR.Contracts" />
    <package pattern="MediatR.Extensions.Microsoft.DependencyInjection" />
    <package pattern="MessagePack" />
    <package pattern="MessagePack.Annotations" />
    <package pattern="MessagePackAnalyzer" />
    <package pattern="microsoft.*" />
    <package pattern="MimeKit" />
    <package pattern="Mono.TextTemplating" />
    <package pattern="Moq" />
    <package pattern="MudBlazor" />
    <package pattern="Namotion.Reflection" />
    <package pattern="NETStandard.Library" />
    <package pattern="Newtonsoft.Json" />
    <package pattern="NJsonSchema" />
    <package pattern="NJsonSchema.Yaml" />
    <package pattern="Npgsql" />
    <package pattern="Npgsql.EntityFrameworkCore.PostgreSQL" />
    <package pattern="NSubstitute" />
    <package pattern="NSwag.Annotations" />
    <package pattern="NSwag.AspNetCore" />
    <package pattern="NSwag.Core" />
    <package pattern="NSwag.Core.Yaml" />
    <package pattern="NSwag.Generation" />
    <package pattern="NSwag.Generation.AspNetCore" />
    <package pattern="NSwag.MSBuild" />
    <package pattern="NuGet.Common" />
    <package pattern="NuGet.Configuration" />
    <package pattern="NuGet.DependencyResolver.Core" />
    <package pattern="NuGet.Frameworks" />
    <package pattern="NuGet.LibraryModel" />
    <package pattern="NuGet.Packaging" />
    <package pattern="NuGet.ProjectModel" />
    <package pattern="NuGet.Protocol" />
    <package pattern="NuGet.Versioning" />
    <package pattern="NUnit" />
    <package pattern="NUnit.Analyzers" />
    <package pattern="NUnit3TestAdapter" />
    <package pattern="Portable.BouncyCastle" />
    <package pattern="QRCoder" />
    <package pattern="Respawn" />
    <package pattern="runtime.*" />
    <package pattern="Scrutor" />
    <package pattern="SendGrid" />
    <package pattern="Serilog" />
    <package pattern="Serilog.AspNetCore" />
    <package pattern="Serilog.Extensions.Hosting" />
    <package pattern="Serilog.Extensions.Logging" />
    <package pattern="Serilog.Formatting.Compact" />
    <package pattern="Serilog.Settings.Configuration" />
    <package pattern="Serilog.Sinks.ApplicationInsights" />
    <package pattern="Serilog.Sinks.AzureApp" />
    <package pattern="Serilog.Sinks.Console" />
    <package pattern="Serilog.Sinks.Debug" />
    <package pattern="Serilog.Sinks.File" />
    <package pattern="Serilog.Sinks.PeriodicBatching" />
    <package pattern="Serilog.Sinks.Seq" />
    <package pattern="SpecFlow" />
    <package pattern="SpecFlow.Internal.Json" />
    <package pattern="SpecFlow.NUnit" />
    <package pattern="SpecFlow.Plus.LivingDocPlugin" />
    <package pattern="SpecFlow.Tools.MsBuild.Generation" />
    <package pattern="SQLitePCLRaw.bundle_e_sqlite3" />
    <package pattern="SQLitePCLRaw.core" />
    <package pattern="SQLitePCLRaw.lib.e_sqlite3" />
    <package pattern="SQLitePCLRaw.provider.e_sqlite3" />
    <package pattern="starkbank-ecdsa" />
    <package pattern="Swashbuckle.AspNetCore" />
    <package pattern="Swashbuckle.AspNetCore.Swagger" />
    <package pattern="Swashbuckle.AspNetCore.SwaggerGen" />
    <package pattern="Swashbuckle.AspNetCore.SwaggerUI" />
    <package pattern="Syncfusion.Blazor.Buttons" />
    <package pattern="Syncfusion.Blazor.Calendars" />
    <package pattern="Syncfusion.Blazor.Charts" />
    <package pattern="Syncfusion.Blazor.Core" />
    <package pattern="Syncfusion.Blazor.Data" />
    <package pattern="Syncfusion.Blazor.DataVizCommon" />
    <package pattern="Syncfusion.Blazor.DropDowns" />
    <package pattern="Syncfusion.Blazor.Grid" />
    <package pattern="Syncfusion.Blazor.Inputs" />
    <package pattern="Syncfusion.Blazor.Lists" />
    <package pattern="Syncfusion.Blazor.Navigations" />
    <package pattern="Syncfusion.Blazor.Notifications" />
    <package pattern="Syncfusion.Blazor.Popups" />
    <package pattern="Syncfusion.Blazor.Spinner" />
    <package pattern="Syncfusion.Blazor.SplitButtons" />
    <package pattern="Syncfusion.Blazor.Themes" />
    <package pattern="Syncfusion.ExcelExport.Net.Core" />
    <package pattern="Syncfusion.Licensing" />
    <package pattern="Syncfusion.PdfExport.Net.Core" />
    <package pattern="system.*" />
    <package pattern="Telerik.FontIcons" />
    <package pattern="Telerik.SvgIcons" />
    <package pattern="Xamarin.Android.Glide" />
    <package pattern="Xamarin.Android.Glide.Annotations" />
    <package pattern="Xamarin.Android.Glide.DiskLruCache" />
    <package pattern="Xamarin.Android.Glide.GifDecoder" />
    <package pattern="Xamarin.AndroidX.Activity" />
    <package pattern="Xamarin.AndroidX.Activity.Ktx" />
    <package pattern="Xamarin.AndroidX.Annotation" />
    <package pattern="Xamarin.AndroidX.Annotation.Experimental" />
    <package pattern="Xamarin.AndroidX.AppCompat" />
    <package pattern="Xamarin.AndroidX.AppCompat.AppCompatResources" />
    <package pattern="Xamarin.AndroidX.Arch.Core.Common" />
    <package pattern="Xamarin.AndroidX.Arch.Core.Runtime" />
    <package pattern="Xamarin.AndroidX.AsyncLayoutInflater" />
    <package pattern="Xamarin.AndroidX.Browser" />
    <package pattern="Xamarin.AndroidX.CardView" />
    <package pattern="Xamarin.AndroidX.Collection" />
    <package pattern="Xamarin.AndroidX.Collection.Ktx" />
    <package pattern="Xamarin.AndroidX.Concurrent.Futures" />
    <package pattern="Xamarin.AndroidX.ConstraintLayout" />
    <package pattern="Xamarin.AndroidX.ConstraintLayout.Core" />
    <package pattern="Xamarin.AndroidX.CoordinatorLayout" />
    <package pattern="Xamarin.AndroidX.Core" />
    <package pattern="Xamarin.AndroidX.Core.Core.Ktx" />
    <package pattern="Xamarin.AndroidX.CursorAdapter" />
    <package pattern="Xamarin.AndroidX.CustomView" />
    <package pattern="Xamarin.AndroidX.DocumentFile" />
    <package pattern="Xamarin.AndroidX.DrawerLayout" />
    <package pattern="Xamarin.AndroidX.DynamicAnimation" />
    <package pattern="Xamarin.AndroidX.Emoji2" />
    <package pattern="Xamarin.AndroidX.Emoji2.ViewsHelper" />
    <package pattern="Xamarin.AndroidX.ExifInterface" />
    <package pattern="Xamarin.AndroidX.Fragment" />
    <package pattern="Xamarin.AndroidX.Fragment.Ktx" />
    <package pattern="Xamarin.AndroidX.Interpolator" />
    <package pattern="Xamarin.AndroidX.Legacy.Support.Core.UI" />
    <package pattern="Xamarin.AndroidX.Legacy.Support.Core.Utils" />
    <package pattern="Xamarin.AndroidX.Legacy.Support.V4" />
    <package pattern="Xamarin.AndroidX.Lifecycle.Common" />
    <package pattern="Xamarin.AndroidX.Lifecycle.LiveData" />
    <package pattern="Xamarin.AndroidX.Lifecycle.LiveData.Core" />
    <package pattern="Xamarin.AndroidX.Lifecycle.LiveData.Core.Ktx" />
    <package pattern="Xamarin.AndroidX.Lifecycle.Process" />
    <package pattern="Xamarin.AndroidX.Lifecycle.Runtime" />
    <package pattern="Xamarin.AndroidX.Lifecycle.Runtime.Ktx" />
    <package pattern="Xamarin.AndroidX.Lifecycle.ViewModel" />
    <package pattern="Xamarin.AndroidX.Lifecycle.ViewModel.Ktx" />
    <package pattern="Xamarin.AndroidX.Lifecycle.ViewModelSavedState" />
    <package pattern="Xamarin.AndroidX.Loader" />
    <package pattern="Xamarin.AndroidX.LocalBroadcastManager" />
    <package pattern="Xamarin.AndroidX.Media" />
    <package pattern="Xamarin.AndroidX.Migration" />
    <package pattern="Xamarin.AndroidX.MultiDex" />
    <package pattern="Xamarin.AndroidX.Navigation.Common" />
    <package pattern="Xamarin.AndroidX.Navigation.Fragment" />
    <package pattern="Xamarin.AndroidX.Navigation.Runtime" />
    <package pattern="Xamarin.AndroidX.Navigation.UI" />
    <package pattern="Xamarin.AndroidX.Print" />
    <package pattern="Xamarin.AndroidX.RecyclerView" />
    <package pattern="Xamarin.AndroidX.ResourceInspection.Annotation" />
    <package pattern="Xamarin.AndroidX.SavedState" />
    <package pattern="Xamarin.AndroidX.SavedState.SavedState.Ktx" />
    <package pattern="Xamarin.AndroidX.Security.SecurityCrypto" />
    <package pattern="Xamarin.AndroidX.SlidingPaneLayout" />
    <package pattern="Xamarin.AndroidX.Startup.StartupRuntime" />
    <package pattern="Xamarin.AndroidX.SwipeRefreshLayout" />
    <package pattern="Xamarin.AndroidX.Tracing.Tracing" />
    <package pattern="Xamarin.AndroidX.Transition" />
    <package pattern="Xamarin.AndroidX.VectorDrawable" />
    <package pattern="Xamarin.AndroidX.VectorDrawable.Animated" />
    <package pattern="Xamarin.AndroidX.VersionedParcelable" />
    <package pattern="Xamarin.AndroidX.ViewPager" />
    <package pattern="Xamarin.AndroidX.ViewPager2" />
    <package pattern="Xamarin.AndroidX.Window" />
    <package pattern="Xamarin.Essentials" />
    <package pattern="Xamarin.Forms" />
    <package pattern="Xamarin.Google.Android.Material" />
    <package pattern="Xamarin.Google.Crypto.Tink.Android" />
    <package pattern="Xamarin.Google.Guava.ListenableFuture" />
    <package pattern="Xamarin.Jetbrains.Annotations" />
    <package pattern="Xamarin.Kotlin.StdLib" />
    <package pattern="Xamarin.Kotlin.StdLib.Common" />
    <package pattern="Xamarin.Kotlin.StdLib.Jdk7" />
    <package pattern="Xamarin.Kotlin.StdLib.Jdk8" />
    <package pattern="Xamarin.KotlinX.Coroutines.Android" />
    <package pattern="Xamarin.KotlinX.Coroutines.Core.Jvm" />
    <package pattern="xunit" />
    <package pattern="xunit.*" />
    <package pattern="YamlDotNet" />
  </packageSource>
</packageSourceMapping>
<disabledPackageSources>
    <clear />
</disabledPackageSources>