@page "/admin/lessons"
@attribute [Authorize(Policy = Policies.RequireAdminsAndSound)]
@using Gbs.Wasm.Pages.Admin.Lessons.Components

<PageTitle>Lessons - GBS</PageTitle>

<div class="tw-py-4 tw-space-y-4">
    <MudText Typo="Typo.h4">Lessons</MudText>
    <MudButton StartIcon="@Icons.Filled.Add" Color="Color.Primary" Variant="Variant.Filled" Href="/admin/lessons/create">
        New
    </MudButton>
</div>

<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="tw-space-y-4">
        <MobileLessonList Lessons="LessonStore.Data"
                          IsLoading="LessonStore.IsLoading"
                          MoveLessonDown="MoveLessonDown"
                          MoveLessonUp="MoveLessonUp" />
    </div>
</MudHidden>

<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <LessonsTable Lessons="LessonStore.Data"
                  IsLoading="LessonStore.IsLoading"
                  MoveLessonDown="MoveLessonDown"
                  MoveLessonUp="MoveLessonUp" />
</MudHidden>