@page "/admin/lessons"
@using Gbs.Wasm.Pages.Admin.Lessons.Components
@attribute [Authorize(Policy = Policies.RequireAdminsAndSound)]

<PageTitle>Lessons - GBS</PageTitle>

<div class="tw-py-4 tw-space-y-4">
    <MudText Typo="Typo.h4">Lessons</MudText>
    <MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" Variant="Variant.Filled" Href="/admin/lessons/create">
        New
    </MudButton>
</div>

<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="tw-space-y-4">
        <MobileLessonList Lessons="LessonState.Data"
                          IsLoading="LessonState.IsLoading"
                          MoveLessonDown="MoveLessonDown"
                          MoveLessonUp="MoveLessonUp" />
    </div>
</MudHidden>

<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <LessonsTable Lessons="@LessonState.Data"
                  IsLoading="@LessonState.IsLoading"
                  MoveLessonDown="MoveLessonDown"
                  MoveLessonUp="MoveLessonUp" />
</MudHidden>

@code {

    [CascadingParameter]
    public LessonState LessonState { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await LessonState.ForceFetch();
    }

    private async Task MoveLessonUp(LessonResponse lesson)
    {
        await LessonState.UpdateOrder(lesson.Id, lesson.Order - 1);
    }

    private async Task MoveLessonDown(LessonResponse lesson)
    {
        await LessonState.UpdateOrder(lesson.Id, lesson.Order + 1);
    }

}