@page "/school"
@attribute [Authorize(Policy = Policies.RequireAdminsSoundAndTeachers)]
@using Gbs.Wasm.Pages.School.Components
@implements IAsyncDisposable

@inject NavigationManager NavigationManager

<PageTitle>School - GBS</PageTitle>

<WelcomeBanner />

@if (StreamState.Data.Any(s => s.IsLive))
{
    <div class="tw-pt-8 tw-pb-2 tw-text-gray-600">
        <MudText Typo="Typo.h2" Class="tw-text-2xl tw-font-semibold">Live</MudText>
    </div>

    <MudGrid Class="tw-relative tw-pt-2">
        @foreach (var liveStream in StreamState.Data.Where(s => s.IsLive))
        {
            <MudItem xs="12" md="6" xl="4">
                <LiveStreamCard LiveStream="@liveStream" />
            </MudItem>
        }
    </MudGrid>
}

@if (LessonState.Data.Count > 0)
{
    <div class="tw-pt-8 tw-pb-2 tw-text-gray-600">
        <MudText Typo="Typo.h2" Class="tw-text-2xl tw-font-semibold">Lessons</MudText>
    </div>

    <LessonCardList Lessons="LessonState.Data" />
}

@code {

    [CascadingParameter]
    LessonState LessonState { get; set; } = null!;

    [CascadingParameter]
    StreamState StreamState { get; set; } = null!;

    [CascadingParameter]
    UiState UiState { get; set; } = null!;

    private HubConnection? _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        var tasks = new[] { LessonState.ForceFetch(), StreamState.ForceFetch() };

        await Task.WhenAll(tasks);

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/hubs/streamshub"))
            .Build();

        _hubConnection.On<Result<List<StreamResponse>>>("ReceiveStreams", OnReceiveStreams);

        await _hubConnection.StartAsync();
    }

    private void OnReceiveStreams(Result<List<StreamResponse>> streams)
    {
        if (!streams.Success) return;

        if (streams.Data != null)
        {
            StreamState.Data = streams.Data;
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection != null)
        {
            await _hubConnection.StopAsync();
            await _hubConnection.DisposeAsync();
        }
    }

}