@page "/school"
@attribute [Authorize(Policy = Policies.RequireAdminsSoundAndTeachers)]
@using Gbs.Wasm.Pages.School.Components
@implements IAsyncDisposable

@inject IStreamStore StreamStore
@inject IUiService UiService
@inject NavigationManager NavigationManager

<PageTitle>School - GBS</PageTitle>

<WelcomeBanner />

<div class="tw-pt-8 tw-pb-2 tw-text-gray-600">
    <MudText Typo="Typo.h2" Class="tw-text-2xl tw-font-semibold">Live</MudText>
</div>

<MudDivider Light="true"/>

<MudGrid Class="tw-relative tw-pt-2">
    @foreach (var liveStream in StreamStore.Value.Where(s => s.IsLive))
    {
        <MudItem xs="12" md="6" xl="4">
            <LiveStreamCard LiveStream="@liveStream" />
        </MudItem>
    }
</MudGrid>

@code {
    private HubConnection? _hubConnection;
    
    protected override async Task OnInitializedAsync()
    {
        await StreamStore.Initialize();
        
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/hubs/streamshub"))
            .Build();

        _hubConnection.On<Result<List<StreamDto>>>("ReceiveStreams", OnReceiveStreams);

        await _hubConnection.StartAsync();
    }
    
    protected override void OnAfterRender(bool firstRender)
    {
        UiService.Loading = StreamStore.IsLoading;
    }
    
    private void OnReceiveStreams(Result<List<StreamDto>> streams)
    {
        if (streams.Success)
        {
            if (streams.Data != null)
            {
                StreamStore.CacheData(streams.Data);
            }
        }
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

}