<div class="bg-base-300 pt-2 px-4">
  <div class="tabs">
    <NavLink Href="admin/streams" class="tab tab-lifted" ActiveClass="tab-active">Streams</NavLink> 
    <a class="tab tab-lifted">Tab 2</a> 
    <a class="tab tab-lifted">Tab 3</a>
  </div>
</div>

@code {
    
}