<div class="flex w-full bg-base-300 pt-2 overflow-x-auto">
  <div class="tabs flex-nowrap">
    <NavLink Href="admin/streams" ActiveClass="tab-active" class="tab tab-lifted">Streams</NavLink> 
    <NavLink Href="admin/generations" class="tab tab-lifted" ActiveClass="tab-active">Generations</NavLink> 
    <NavLink Href="admin/teachers" class="tab tab-lifted" ActiveClass="tab-active">Techers</NavLink>
    <NavLink Href="admin/users" ActiveClass="tab-active" class="tab tab-lifted">Users</NavLink> 
  </div>
</div>

@code {
    
}