@inherits LayoutComponentBase

<main>
    <div class="h-screen flex justify-center items-center p-4">
        <div class="w-full max-w-md">
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    @Body
                </div>
            </div>
        </div>
    </div>
</main>

<AlertList/>