@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<NavMenu/>

@if (NavigationManager.Uri.Contains("/admin"))
{
    <AdminMenu/>
}

<main class="flex justify-center p-4 md:p-8">
    <div class="w-full max-w-7xl">
        @Body
    </div>
</main>