@page "/admin/teachers/create"
@page "/admin/teachers/{Id:int}/edit"
@attribute [Authorize(Roles = $"{Roles.SuperAdmin}, {Roles.Admin}, {Roles.Teacher}, {Roles.Sound}")]
@inject NavigationManager NavigationManager
@inject ITeacherService TeacherService
@inject IUiService UiService

<H3>
    @if (_isEdit)
    {
        <span>Edit Teacher</span>
    }
    else
    {
        <span>Create Teacher</span>
    }
</H3>

<div class="flex justify-center pt-4">
    <div class="card w-96 bg-base-200 shadow-lg">
        <div class="card-body">
            <EditForm Model="_newTeacher" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator/>
                <TextInput Id="name"
                           @ref="_nameInput"
                           Label="Name"
                           @bind-Value="_newTeacher.Name"
                           For="() => _newTeacher.Name"/>
                <div class="flex justify-end pt-4 space-x-2">
                    <Button Href="admin/teachers">Cancel</Button>
                    <Button Type="submit" Color="BtnColor.Success" IsLoading="_isLoading">Save</Button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    TeacherCreateDto _newTeacher = new TeacherCreateDto();
    bool _isLoading = false;
    bool _isEdit = false;
    TextInput _nameInput = null!;

    [Parameter]
    public int? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            _isEdit = true;
            var teacher = await TeacherService.FetchTeacher(Id.Value);
            _newTeacher = new TeacherCreateDto
            {
                Name = teacher.Data.Name
            };
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _nameInput.FocusAsync();
        }
    }

    async Task HandleValidSubmit()
    {
        _isLoading = true;
        ServiceResponse<Teacher> response;
        if (_isEdit == false)
        {
            response = await TeacherService.AddTeacher(_newTeacher);
        }
        else
        {
            response = await TeacherService.UpdateTeacher(Id!.Value, _newTeacher);
        }

        if (response.Success)
        {
            _isLoading = false;
            UiService.AddSuccessAlert(_isEdit ? "Teacher updated successfully" : "Teacher added successfully");
            NavigationManager.NavigateTo("admin/teachers");
        }
        else
        {
            _isLoading = false;
            UiService.AddErrorAlert(response.Message);
            await _nameInput.FocusAsync();
        }
    }

}