@inject IUserService UserService

<div class="card bg-base-200 shadow-xl">
    <div class="card-body">
        <p>
            <span class="font-semibold">First Name:</span> @User.FirstName
        </p>
        <p>
            <span class="font-semibold">Last Name:</span> @User.LastName
        </p>
        <p>
            <span class="font-semibold">Email:</span> @User.Email
        </p>
        <p>
            <span class="font-semibold">Verified Email:</span> @User.EmailVerified
        </p>
        
        <UserRoleUpdate User="User"/>
        
        <UserChurchUpdate User="User" Churches="Churches"/>
        
        <UserActiveUpdate User="User"/>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public UserDto User { get; set; } = null!;

    [Parameter, EditorRequired]
    public List<Church> Churches { get; set; } = new List<Church>();

}