<button type="@Type" class="btn @BtnColor.ToDescriptionString() @Size.ToDescriptionString()" disabled="@IsLoading">
    @if (IsLoading)
    {
        <InfinitLoading Class="-ml-1 mr-3"/>
    }
    @ChildContent
</button>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter]
    public BtnColor BtnColor { get; set; } = BtnColor.Primary;
    
    [Parameter]
    public bool IsLoading { get; set; } = false;
    
    [Parameter]
    public BtnSize Size { get; set; } = BtnSize.Medium;
    
    [Parameter]
    public string Type { get; set; } = "button";
}