<div class="form-control">
    <label class="label cursor-pointer justify-start space-x-4">
        <span class="label-text">@Label</span>
        <input @ref="_inputRef" id="@Id" type="checkbox" class="toggle toggle-primary" checked="@Checked" @oninput="HandleChecked"/>
    </label>
</div>

@code {
    private ElementReference _inputRef;

    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public bool Checked { get; set; } = false;

    [Parameter]
    public EventCallback<bool> CheckedChanged { get; set; }

    private async Task HandleChecked()
    {
        await CheckedChanged.InvokeAsync(!Checked);
    }

}