<MudCard Class="tw-mt-4 tw-p-4">
    <MudCardContent Class="tw-flex tw-flex-col tw-items-center tw-space-y-2">
        <MudText Typo="Typo.h1" Class="tw-text-2xl tw-font-bold tw-text-gray-600">Welcome to GBS</MudText>
        <MudText Typo="Typo.body2" Class="tw-text-center">
            Motivational verse from Bible, Lorem ipsum dolor sit amet, consectetur
            adipiscing elit,
            sed do.&nbsp;&nbsp;<span class="tw-text-gray-600 tw-font-semibold">Herman 5:17</span>
        </MudText>
    </MudCardContent>
</MudCard>

@code {

}