<div class="flex justify-center pt-2">
    <div class="tabs">
        <NavLink Href="login" ActiveClass="tab-active" class="tab tab-bordered">Login</NavLink>
        <NavLink Href="register" ActiveClass="tab-active" class="tab tab-bordered">Register</NavLink>
    </div>
</div>