@page "/admin/generations"
@inject IGenerationService GenerationService
@inject IUiService UiService
@implements IDisposable

<H3>Generations</H3>

<GenerationsTable Generations="GenerationService.Generations"/>

@code {
    protected override async Task OnInitializedAsync()
    {
        await GenerationService.LoadGenerations();
        GenerationService.GenerationsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        GenerationService.GenerationsChanged -= StateHasChanged;
    }

}