@page "/admin/generations/create"
@attribute [Authorize(Roles = $"{Roles.SuperAdmin}, {Roles.Admin}, {Roles.Teacher}")]
@inject NavigationManager NavigationManager
@inject IGenerationService GenerationService
@inject IUiService UiService

<H3>Create Generation</H3>

<div class="flex justify-center pt-4">
    <div class="card w-96 bg-base-200 shadow-lg">
        <div class="card-body">
            <EditForm Model="_new" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator/>
                <TextInput Id="name"
                           @ref="_nameInput"
                           Label="Name"
                           @bind-Value="_new.Name"
                           For="() => _new.Name"/>
                <div class="flex justify-end pt-4 space-x-2">
                    <Button Href="admin/generations">Cancel</Button>
                    <Button Type="submit" Color="BtnColor.Primary" IsLoading="_isLoading">Add</Button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    TextInput _nameInput = null!;
    GenerationCreateDto _new = new GenerationCreateDto();
    bool _isLoading;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _nameInput.FocusAsync();
        }
    }

    async Task HandleValidSubmit()
    {
        _isLoading = true;
        var response = await GenerationService.AddGeneration(_new);
        if (response.Success)
        {
            _isLoading = false;
            UiService.ShowSuccessAlert("Generation added successfully");
            NavigationManager.NavigateTo("admin/generations");
        }
        else
        {
            _isLoading = false;
            await UiService.ShowErrorAlert(response.Message, response.StatusCode);
            await _nameInput.FocusAsync();
        }
    }

}