<div class="card bg-base-200 shadow-lg">
    <div class="card-body">
        <h2 class="font-semibold text-lg truncate">@LiveStream.Title</h2>
        <p class="card-subtitle text-gray-500">@LiveStream.Generation.Name</p>
        <div class="card-actions justify-end pt-2">
            <Button Color="BtnColor.Error" OnClick="@HandleToggleLive" Outline="@(!LiveStream.IsLive)">
                @if (LiveStream.IsLive)
                {
                    <span>End Live</span>
                }
                else
                {
                    <span>Start Live</span>
                }
            </Button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public LiveStream LiveStream { get; set; } = null!;
    
    [Parameter]
    public EventCallback<int> OnToggleLive { get; set; }
    
    async Task HandleToggleLive()
    {
        await OnToggleLive.InvokeAsync(LiveStream.Id);
    }
}