@page "/admin/streams"
@attribute [Authorize(Roles = $"{Roles.SuperAdmin}, {Roles.Admin}, {Roles.Teacher}, {Roles.Sound}")]
@implements IDisposable
@using gbs.Client.Pages.Admin.Streams.Components
@inject IStreamService StreamService
@inject IUiService UiService
@inject IDialogService DialogService

<div class="tw-flex tw-justify-between tw-items-center tw-py-4">
    <MudText Typo="Typo.h3">Streams</MudText>
    <MudSpacer/>
    <MudIconButton Icon="@Icons.Filled.Add" Color="Color.Primary" Variant="Variant.Filled" Href="/admin/streams/create"/>
</div>

<MudGrid>
    <MudItem xs="12" sm="6" lg="4" xl="3">
        @if (_isLoading)
        {
            <MudOverlay Visible="_isLoading" DarkBackground="true" Absolute="true">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
            </MudOverlay>
        }
        else
        {
            @foreach (var liveStream in StreamService.Streams)
            {
                <AdminStreamCard LiveStream="@liveStream" OnDelete="HandleDelete"/>
            }
        }
    </MudItem>
</MudGrid>

@code {
    bool _isLoading;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        await StreamService.LoadStreams();
        _isLoading = false;
        StreamService.StreamsChanged += StateHasChanged;
    }

    async Task HandleDelete(StreamGetDto stream)
    {
    // deleteStream = stream;
    // _isModalOpen = true;
        bool? result = await DialogService.ShowMessageBox(
            $"Delete {stream.Title}?",
            "Are you sure you want to continue?",
            yesText: "Delete!", cancelText: "Cancel");
        if (result != null)
        {
            await DeleteStream(stream);
        }
        StateHasChanged();
    }

    async Task DeleteStream(StreamGetDto stream)
    {
        var result = await StreamService.DeleteById(stream.Id);
        if (result.Success)
        {
            // _isModalOpen = false;
            await StreamService.LoadStreams();
            UiService.ShowSuccessAlert(result.Message);
        }
        else
        {
            // _isModalOpen = false;
            await StreamService.LoadStreams();
            await UiService.ShowErrorAlert(result.Message, result.StatusCode);
        }
    }

    public void Dispose()
    {
        StreamService.StreamsChanged -= StateHasChanged;
    }

}