@using gbs.Client.Enums.Button
<div class="card bg-base-200 shadow-lg">
    <div class="card-body">
        <h2 class="font-semibold text-lg truncate">Title</h2>
        <p class="card-subtitle text-gray-500">Generation</p>
        <div class="card-actions justify-end pt-2">
            <a href="" class="btn btn-error">
                <i class="oi oi-trash"></i>
            </a>
            <a href="" class="btn btn-warning">
                <i class="oi oi-pencil"></i>
            </a>
            <Button Color="BtnColor.Error" Outline>Go Live</Button>
        </div>
    </div>
</div>

@code {
    
}