@page "/school/students"
@using gbs.Client.Pages.School.Students.Components

<div class="flex justify-between items-center">
    <H3>Students</H3>
    <Button Href="/admin/streams/create" Color="BtnColor.Primary">
        <i class="oi oi-plus"></i>
    </Button>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pt-4">
    <StudentCard/>
</div>

@code {

}