@page "/admin/streams"
@using Gbs.Wasm.Pages.Admin.Streams.Components
@attribute [Authorize(Policy = Policies.RequireAdminsAndSound)]
@implements IDisposable
@implements Gbs.Wasm.Common.Interfaces.Api.INotifyStateChanged<StreamResponse>

@inject IDialogService DialogService
@inject IStreamService StreamService

<PageTitle>Streams - GBS</PageTitle>

<div class="tw-py-4 tw-space-y-4">
    <MudText Typo="Typo.h4">Streams</MudText>
    <MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" Variant="Variant.Filled" Href="/admin/streams/create">
        New
    </MudButton>
</div>

<MudGrid Justify="Justify.FlexStart">
    @foreach (var liveStream in StreamService.Data)
    {
        <MudItem xs="12" sm="6" lg="4" xl="3">
            <AdminStreamCard LiveStream="@liveStream" OnDelete="HandleDelete" />
        </MudItem>
    }
</MudGrid>

@code {

    [CascadingParameter]
    UiState UiState { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        StreamService.OnChange += NotifyStateChanged;
        await StreamService.ForceFetch(this);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        UiState.IsPageLoading = StreamService.IsLoading;
    }

    async Task HandleDelete(StreamResponse stream)
    {
        var result = await DialogService.ShowMessageBox(
            $"Delete {stream.Title}?",
            "Are you sure you want to continue?",
            "Delete!", cancelText: "Cancel");
        if (result != null)
        {
            await DeleteStream(stream);
        }
    }

    async Task DeleteStream(StreamResponse stream)
    {
        await StreamService.Delete(this, stream.Id);
        if (StreamService.Error != null)
        {
            StreamService.ClearError(this);
        }
    }

    public void Dispose()
    {
        StreamService.OnChange -= NotifyStateChanged;
    }

    public void NotifyStateChanged(ComponentBase sender, List<StreamResponse>? data, bool isLoading, ServiceError? error)
    {
        StateHasChanged();
    }

}