@page "/admin/generations"
@inject IUiService UiService

<H3>Generations</H3>

<button class="btn btn-info" @onclick="() => CreateAlert(AlertType.Info)">Info</button>
<button class="btn btn-error" @onclick="() => CreateAlert(AlertType.Error)">Error</button>
<button class="btn btn-success" @onclick="() => CreateAlert(AlertType.Success)">Success</button>
<button class="btn btn-warning" @onclick="() => CreateAlert(AlertType.Warning)">Warning</button>

@code {

    void CreateAlert(AlertType type)
    {
        UiService.AddAlert(new AlertDto
        {
            Type = type,
            Message = "This is a " + type.ToString() + " alert with a very long message that will wrap onto multiple lines."
        });
    }
}