@page "/school"
@attribute [Authorize(Roles = Roles.AllButUser)]
@using gbs.Client.Pages.School.Components
@inject IStreamService StreamService

<WelcomeBanner />

<div class="flex justify-center py-8 text-gray-600">
    <h2 class="text-2xl font-semibold">Live</h2>
</div>

@if (_isLoading)
{
    <div class="flex justify-center">
        <progress class="progress progress-primary w-56"></progress>
    </div>
}

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    @foreach (var liveStream in StreamService.Streams.Where(s => s.IsLive == true))
    {
        <LiveStreamCard LiveStream="@liveStream" />
    }
</div>

<div class="flex justify-center pt-8 text-gray-600">
    <h2 class="text-2xl font-semibold">Q&A</h2>
</div>

@code {
    bool _isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        await StreamService.LoadStreams();
        _isLoading = false;
    }

}