<div class="tw-h-2 tw-mb-4">
    @if (UiState.IsPageLoading)
    {
        <MudProgressLinear Color="Color.Secondary" Indeterminate="true" />
    }
</div>

@code {

    [CascadingParameter]
    UiState UiState { get; set; } = null!;

}