<MudCard Class="tw-mt-4 tw-p-4">
    <MudCardContent Class="tw-flex tw-flex-col tw-items-center tw-space-y-2">
        <MudText Typo="Typo.h1" Class="tw-text-2xl tw-font-bold tw-text-gray-600">Welcome to GBS</MudText>
        <MudText Typo="Typo.body2" Class="tw-text-center">
            And the things that you have heard from me among many witnesses, commit these to faithful men who will be able to teach others also.&nbsp;
            <br>
            <span class="tw-text-gray-600 tw-font-semibold">2. Timothy 2:2</span>
        </MudText>
    </MudCardContent>
</MudCard>

@code {

}