<div class="card bg-base-200 p-2 rounded-xl shadow-lg">
    <div class="grid grid-cols-3 px-4 py-1 text-gray-600">
        <div class="flex items-center text-lg font-semibold">@LiveStream.Generation.Name</div>
        <div class="flex items-center justify-center font-semibold">@LiveStream.Title</div>
        <div class="flex justify-end items-center"><i class="oi oi-play-circle mr-1 text-error"></i>Live</div>
    </div>
    <iframe class="aspect-video w-full" referrerpolicy="origin-when-cross-origin"
            src="@LiveStream.Url"
            allowfullscreen>
    </iframe>
</div>

@code {
    [Parameter]
    public LiveStream LiveStream { get; set; } = null!;

}