@page "/admin/streams"
@attribute [Authorize(Policy = Policies.RequireAdminsAndSound)]
@implements IDisposable
@using gbs.Client.Pages.Admin.Streams.Components
@using gbs.Client.Wasm.Services.Api.StreamService
@inject IStreamService StreamService
@inject IUiService UiService
@inject IDialogService DialogService

<PageTitle>Streams - GBS</PageTitle>

<div class="tw-py-4 tw-space-y-4">
    <MudText Typo="Typo.h4">Streams</MudText>
    <MudButton StartIcon="@Icons.Filled.Add" Color="Color.Primary" Variant="Variant.Filled" Href="/admin/streams/create">
        New
    </MudButton>
</div>

<MudGrid Justify="Justify.FlexStart">
    @foreach (var liveStream in StreamService.Streams)
    {
        <MudItem xs="12" sm="6" lg="4" xl="3">
            <AdminStreamCard LiveStream="@liveStream" OnDelete="HandleDelete" />
        </MudItem>
    }
</MudGrid>

@code {

    protected override async Task OnInitializedAsync()
    {
        UiService.LoadingStart();
        await StreamService.LoadStreams();
        UiService.LoadingStop();
        StreamService.StreamsChanged += StateHasChanged;
    }

    async Task HandleDelete(StreamGetDto stream)
    {
        bool? result = await DialogService.ShowMessageBox(
            $"Delete {stream.Title}?",
            "Are you sure you want to continue?",
            yesText: "Delete!", cancelText: "Cancel");
        if (result != null)
        {
            await DeleteStream(stream);
        }
        StateHasChanged();
    }

    async Task DeleteStream(StreamGetDto stream)
    {
        UiService.LoadingStart();
        var result = await StreamService.DeleteById(stream.Id);
        if (result.Success)
        {
            await StreamService.LoadStreams();
            UiService.ShowSuccessAlert(result.Message);
            UiService.LoadingStop();
        }
        else
        {
            await StreamService.LoadStreams();
            await UiService.ShowErrorAlert(result.Message, result.StatusCode);
            UiService.LoadingStop();
        }
    }

    public void Dispose()
    {
        StreamService.StreamsChanged -= StateHasChanged;
    }

}